body,
html {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #CAB179
}

.push {
	display: flex;
	align-items: right
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.card {
	width: 100%
	background-color: #CAB179;
	border: none;
	margin: 0 auto;
	width: 100%
}

.card-body{
	background-color: #CAB179;
	width: 100%
	padding: none;
}

.card-text {
	padding: none;
	margin: none;
	width: 100%;
}